<div class="container mt-5 text-center">
  <h2>Success! Please use this link:</h2>
  <a id="shortUrl" target="_blank" href="http://{{env.domain}}:{{env.port}}/{{code}}">http://{{env.domain}}:{{env.port}}/{{code}}</a>
  <div class="mt-2">
    <button class="btn btn-outline-primary" id="copyBtn">Copy</button>
    <a class="btn btn-outline-primary" href="/">Return</a>
  </div>
</div>
<script src="/javascripts/success.js"></script>